.myself{width: 270px;height: 360px;
    text-align: center;}
h1{
    text-align: center;
}
.p1{
    text-align: center;
    width: 720px;
}
.p2{
    text-align: center;
    width: 720px;
}